<p>form works!</p>
<div class="container-fluid">
    <h2 class="text-center">Today's Quote</h2>

    <form (ngSubmit)=>
        <div class="form-group mt-2">
            <label for="name">Your Name</label>
            <input type="text" class="form-control" [(ngModel)]="yourName"  name="name">
            <!-- <div >
                <p>Name is required</p>
            </div> -->
        </div>
        <div class="form-group mt-2">
            <label for="title">Quote Title</label>
            <input type="text" class="form-control" [(ngModel)]="quoteTittle" name="title" >
            <!-- <div>
                <p>Title is required</p>
            </div> -->
        </div>
        <div class="form-group mt-2">
            <label for="quote">Quote</label>
            <textarea class="form-control" type="text"  rows="3" [(ngModel)]="quoteMessage" name="quoteMessage" ></textarea>
            <!-- <div class="alert alert-danger">
                <p>Quote is required</p>
            </div> -->
        </div>
        <div class="form-group mt-2">
            <label for="author">Author of Quote</label>
            <input type="text" class="form-control" id="author"  name="author">
        </div>   
        <button type="submit" class="btn btn-success mt-2" >Add Quote</button>
    </form>
</div>
<div>
    <h1>Show</h1>
    <div *ngFor='let message of messages'>
        <h3>{{message.yourName}}</h3>
        <p>{{message.quoteTittle}}</p>
        <p>{{message.quoteMessage}}</p>
    </div>
</div>
